*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  color:black;
}
body{
  background-image:url("bimg3.jpg");
  background-size: cover;

}
.menu-container{
  display: flex;
  justify-content: center;
}

.menu-item{
  margin: 10px;
  text-decoration: none;
  color: white;
}
.menu-container{
  justify-content: center;
  display:flex;
}
.menu-item1{
  margin-right: 1150px;
}
.bg-image {
  /* Full height */
  height: 50%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  font-size: 80px;
  border: 10px solid #f1f1f1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 300px;
  padding: 20px;
  text-align: center;
  animation: bgtext 5s;
  animation: bgtextcolor 5s infinite;
}
@keyframes bgtext{
  0%{left: 0%; width:100px; }
  100%{left:50%; width: 300px; }
}
@keyframes bgtextcolor{
  0%{color:white; border-color: white;}
  20%{color: #fff0f3; border-color: #fff0f3;}
  40%{color:#ffd3dc; border-color: #ffd3dc;}
  60%{color:#ffc4d1; border-color: #ffc4d1;}
  80%{color:#ffd3dc; border-color: #ffd3dc;}
  100%{color: #fff0f3; border-color: #fff0f3;}
}
@keyframes timelinecolor {
  0%{border-color: white;}
  20%{border-color: #fff0f3;}
  40%{ border-color: #ffd3dc;}
  60%{border-color: #ffc4d1;}
  80%{border-color: #ffd3dc;}
  100%{border-color: #fff0f3;}
}
@keyframes timelinecolor2 {
  0%{background-color: white;}
  20%{background-color: #fff0f3;}
  40%{background-color: #ffd3dc;}
  60%{background-color: #ffc4d1;}
  80%{background-color: #ffd3dc;}
  100%{background-color: #fff0f3;}
}
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: pink;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: black;
  border: 4px solid pink;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
  animation: timelinecolor 5s infinite;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid pink;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent pink;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid pink;
  border-width: 10px 10px 10px 0;
  border-color: transparent pink transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: pink;
  position: relative;
  border-radius: 6px;
  animation: timelinecolor2 5s infinite;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }

  /* Full-width containers */
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
  left: 60px;
  border: medium solid pink;
  border-width: 10px 10px 10px 0;
  border-color: transparent pink transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}
